.dates {
  padding-bottom: 20px;
  padding-top: 100px;
  gap: 65px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-bottom: 2px #2e2d2d solid;

  #date_1604:hover,
  #date_1820:hover,
  #date_1826:hover,
  #date_1839:hover,
  #date_1861:hover,
  #date_1889:hover,
  #date_1923:hover,
  #date_1925:hover,
  #date_1988:hover,
  #date_19888:hover,
  #date_2010:hover,
  #date_2024:hover {
    color: #b8382f;
    text-decoration: underline 2px;
  }
}

.aboutSecond {
  background-color: #2e2d2d;
  height: 400px;
  overflow: hidden;
  width: 100vw;
  position: absolute;
  top: 180px;
  .timelinePhotos {
    display: flex;
    position: absolute;
    gap: 20px;
    overflow: hidden;
    height: 100%;
    padding: 35px;
    transition: 0.5s;
    #timelinePhotos1,
    #timelinePhotos2,
    #timelinePhotos3,
    #timelinePhotos4,
    #timelinePhotos5,
    #timelinePhotos6,
    #timelinePhotos7,
    #timelinePhotos8,
    #timelinePhotos9,
    #timelinePhotos10,
    #timelinePhotos11,
    #timelinePhotos12 {
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #2e2d2d;
      background-position: left;
      height: 100%;
    }
    #timelinePhotos1 {
      background-image: url('../images/timelinePhotos/Photo1.webp');
      width: 600px;
    }
    #timelinePhotos2 {
      background-image: url('../images/timelinePhotos/Photo2.webp');
      width: 600px;
    }
    #timelinePhotos3 {
      background-image: url('../images/timelinePhotos/Photo3.webp');
      width: 600px;
    }
    #timelinePhotos4 {
      background-image: url('../images/timelinePhotos/Photo4.webp');
      width: 600px;
    }
    #timelinePhotos5 {
      background-image: url('../images/timelinePhotos/Photo5.webp');
      width: 600px;
    }
    #timelinePhotos6 {
      background-image: url('../images/timelinePhotos/Photo6.webp');
      width: 600px;
    }
    #timelinePhotos7 {
      background-image: url('../images/timelinePhotos/Photo7.webp');
      width: 600px;
    }
    #timelinePhotos8 {
      background-image: url('../images/timelinePhotos/Photo8.webp');
      width: 600px;
    }
    #timelinePhotos9 {
      background-image: url('../images/timelinePhotos/Photo9.webp');
      width: 600px;
    }
    #timelinePhotos10 {
      background-image: url('../images/timelinePhotos/Photo10.webp');
      width: 600px;
    }
    #timelinePhotos11 {
      background-image: url('../images/timelinePhotos/Photo11.webp');
      width: 600px;
    }
    #timelinePhotos12 {
      background-image: url('../images/timelinePhotos/Photo12.webp');
      width: 600px;
    }
  }
}
.aboutThird {
  display: flex;
  height: 80vh;
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-start;
  padding: 30px;
  gap: 60px;
  width: 100vw;
  h1 {
    color: #b8382f;
    font-size: 3em;
    width: 40%;
  }
  p {
    font-size: 1.3em;
    width: 60%;
  }
}

.aboutMobile {
  display: none;
}

#footerAbout {
  display: none;
}

@media screen and (max-width: 1025px) {
  .dates {
    gap: 30px;
    p {
      font-size: 0.3em;
    }
  }
  .aboutThird {
    h1 {
      font-size: 2.7em;
    }
    p {
      font-size: 1em;
    }
  }
}

@media screen and (max-width: 431px) {
  .aboutFirst {
    display: none;
  }

  #footerAbout {
    display: flex;
  }
  .aboutMobile {
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    gap: 40px;

    img {
      padding: 10px;
      height: auto;
      width: 100vw;
      background-color: #2e2d2d;
    }
    h1 {
      font-size: 2.5em;
      font-weight: 400;
      color: #b8382f;
      padding: 20px;
    }
    p {
      font-size: 1.2em;
      color: #000000;
      padding: 0 20px;
    }
  }
}
