.articleH1 {
  padding: 120px 30px 0px 30px;
  color: #b8382f;
}

.articlesCards {
  padding: 30px;
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    flex-direction: column;
    width: 32%;
    gap: 30px;

    a {
      width: 100%;
      cursor: url('../images/cursordefault.svg') 16 16, auto;

      .articlesCard {
        width: 100%;
        gap: 0;
        img {
          width: 100%;
          border: 2px #2e2d2d solid;
        }
        h3 {
          font-weight: 400;
          font-size: 30px;
          padding: 30px;
        }
      }
    }
  }
}

.articlesArticleSecond {
  padding: 60px 30px 0 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;

  h3 {
    width: 40%;
  }

  p {
    width: 55%;
    font-family: Manrope;
    font-weight: 300;
    line-height: normal;
  }

  .pRight {
    padding-left: calc(33vw + 30px);
    width: 80%;
  }
}

.articlesArticleThird {
  padding: 60px 30px 0 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1%;

  img {
    width: 32%;
    border: 2px #2e2d2d solid;
  }
}

.pArticles {
  font-family: Manrope;
  font-weight: 300;
  line-height: normal;
  padding: 15px 30px 60px 30px;
  font-size: 16px;
}

.articlesArticleFourth {
  cursor: url('../images/cursordefaultwhite.svg') 16 16, auto;
  padding: 30px;
  background-color: #b8382f;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    color: #f3f0ee;
  }
  .socialMedia {
    a {
      padding-left: 10px;
    }
    a:hover svg {
      path {
        fill: #cbc8c7;
      }
    }
  }
}

.articlesArticleFifth {
  padding: 60px 30px 60px 30px;
  width: 100%;

  p {
    width: 55%;
    font-family: Manrope;
    font-weight: 300;
    line-height: normal;
    padding: 15px 0 60px 0;
  }

  .pRight {
    padding-left: calc(33vw + 30px);
    width: 80%;

    p {
      width: 100%;
    }
  }
}

/*староееее*/
.article {
  .articleFirst {
    padding: 0px 30px;
    display: flex;
    justify-content: flex-start;
    gap: 60px;
    align-items: flex-end;
    height: 70vh;
    margin: 0 0 60px 0;

    .articleFirstBlock {
      height: 100%;
      width: 35%;

      .articleImage {
        width: 100%;
        height: 100%;
        overflow: hidden;
        cursor: url('../images/cursoronphoto.svg') 40 40, auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        align-self: flex-end;
      }

      #articleMainImageFredLyon1 {
        background-image: url('../images/runningPhotos/FredLyon1.webp');
      }
    }

    .articleText {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      h1 {
        color: #b8382f;
      }
      h3 {
        margin-bottom: 20px;
        color: #b8382f;
        font-weight: 100;
      }
      p {
        font-family: Manrope;
        line-height: normal;
      }
    }
  }

  .h3Header {
    width: 55vw;
    margin-bottom: 30px;
    padding: 0px 30px;
  }

  .articleSecond {
    margin: 20px 30px 60px 30px;
    padding: 30px;
    display: flex;
    gap: 20px;
    border: 3px #2e2d2d solid;
    width: 70vw;

    h1,
    h2 {
      flex-grow: 4;
    }
    h1 {
      font-size: 110px;
      color: #b8382f;
    }
    h2 {
      font-size: 35px;
      font-family: Manrope;
      line-height: 0.9em;
      font-weight: 200;
    }

    .secondLeft {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .shutterAndFlash {
        display: flex;
        flex-direction: row;
        gap: 40px;

        .shutterAndFilm {
          display: flex;
          gap: 60px;
        }

        .shutterAndFlashInside {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
    }

    .secondRight {
      width: 70%;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }

  .articleThird {
    padding: 0px 30px;
    width: 100%;
    .thirdFirst {
      display: flex;
      width: 70vw;
      gap: 30px;
      p {
        font-family: Manrope;
        font-weight: 300;
        line-height: normal;
      }
    }

    .thirdSecond {
      margin: 30px 0;
      display: flex;
      justify-content: space-between;
      width: 100%;
      img {
        width: 15%;
        object-fit: cover;
        border: 2px #2e2d2d solid;
      }
      .wide {
        width: 30%;
      }
    }

    .thirdThird {
      display: flex;
      width: 100%;
      gap: 30px;
      margin-bottom: 60px;
      p {
        font-family: Manrope;
        font-weight: 300;
        line-height: normal;
        font-size: 16px;
        width: 90%;
      }
    }
  }

  #h3Header2 {
    margin-top: 60px;
  }

  .articleFourth {
    padding: 0px 30px;
    width: 100%;
    margin: 30px 0 60px 0;
    .otherWorks {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      gap: 0;
      height: 70vh;
      width: 100%;

      a {
        text-decoration: none;

        .RedFrame {
          width: 100%;
          margin: auto;
          border: 3px solid #b8382f;
          display: flex;
          justify-content: space-between;
          height: 100%;
          opacity: 0%;

          .redTextTop,
          .redTextBottom {
            padding: 10px;
            background-color: #b8382f;

            p {
              color: #fff;
              font-weight: 400;
              font-size: 18px;
              text-decoration: none;
            }
          }

          .redTextTop {
            align-self: flex-start;
            border-radius: 0 0 7px 0;
          }

          .redTextBottom {
            align-self: flex-end;
            border-radius: 7px 0 0 0;
          }
        }

        .otherWorksPhoto {
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          padding: 25px;
          height: 100%;
          width: calc((100vw - 60px) / 3 - 40px);
          cursor: url('../images/cursorpointer.svg') 24 0, auto;
          &:hover .RedFrame {
            opacity: 100%;
            transition: 0.3s;
          }
        }

        #otherWorksFredLyon1_1 {
          background-image: url('../images/FredLyon2.webp');
        }

        #otherWorksFredLyon1_2 {
          background-image: url('../images/FredLyon3.webp');
        }

        #otherWorksFredLyon1_3 {
          background-image: url('../images/FredLyon4.webp');
        }
      }
    }
  }
}
